{% extends 'LaNetscouadeAngularDemoBundle::layout.html.twig' %}

{% block javascripts %}
    {% javascripts
        "@bootstrap_js"
        "@angular_js"
        "bundles/bazingaexposetranslation/js/translator.min.js"
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript" src="{{ url('bazinga_exposetranslation_js') }}"></script>
    <script src="{{ asset('bundles/lanetscouadeangulardemo/js/translationDemo.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Translation demo</h1>
        <div id="demo-widget" ng-app>
            Twig translation: {{ 'Symfony2 is great'|trans }}
            {% verbatim %}
                <div>
                   AngularJS translation: {{'Symfony2 is great' | trans}}
                </div>
            {% endverbatim %}
        </div>
    </div>
{% endblock %}
